<%= form_with(model: fence, local: true) do |form| %>
  <% if fence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fence.errors.count, "error") %> prohibited this fence from being saved:</h2>

      <ul>
      <% fence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
