<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @log.status %>
</p>

<p>
  <strong>Fence:</strong>
  <%= @log.fence %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
