<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @log.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @log.status %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @log.hora %>
</p>

<p>
  <strong>Position:</strong>
  <%= @log.position %>
</p>

<p>
  <strong>Cerca:</strong>
  <%= @log.cerca_id %>
</p>

<p>
  <strong>Farm:</strong>
  <%= @log.farm %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
